$bg-color: #DFDFDE;
$field-bg-color: #F7F5F2;
$shadow-color: rgba(0, 0, 0, 0.274);
$pure-white: white;

$font-standard: #222;
$font-light: #F7F5F2;
$hover-color: rgb(255, 136, 0);

$input-color: #222222a6;
$accent-color: #4682b4;