$bg-color: #e9ecef;
$field-bg-color: #f7f5f2;
$shadow-color: rgba(0, 0, 0, 0.274);
$pure-white: white;

$font-standard: #222;
$font-light: #f7f5f2;
$hover-color: rgb(255, 136, 0);

$input-color: #222222a6;
$accent-color: #4682b4;
