@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: $bg-color;
	color: $font-standard;
	font-family: 'Montserrat', sans-serif;
}

section {
	h2 {
		// margin-top: 10px;
		text-align: center;
		font-size: 2.7rem;
	}
}
.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
}
.button {
	padding: 10px 0;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	background-color: $accent-color;
	color: $font-light;
	border: none;
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}
.button:hover {
	background-color: $hover-color;
	transform: scale(1.05);
}

.nav {
	position: fixed;
	display: flex;
	align-items: center;
	// justify-content: center;
	width: 100%;
	height: 60px;
	padding: 10px 20px;
	font-size: 1.8rem;
	background-color: $field-bg-color;
	z-index: 10;
	box-shadow: 1px 1px 5px $box-shadow-color;

	a {
		padding: 0 10px;
		color: $font-standard;
		text-decoration: none;
		.logo {
			font-family: 'Satisfy', cursive;
		}
	}

	.nav-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;

		.nav-links {
			padding-right: 25px;
		}

		a:hover {
			color: $hover-color;
		}

		.nav-icons {
			i:hover {
				color: $hover-color;
			}

			.magnifier {
				cursor: pointer;
				padding: 0 10px;
			}
		}
		.input-serch {
			display: none;
			width: 200px;
			margin: 0 5px;
			border-radius: 20px;
			margin: 10px;
		}

		.input-serch[type='text'] {
			padding: 2px 8px; /* przesuń pole tekstowe w prawo o 20 pikseli */
		}

		.burger-icon {
			display: none;
			padding: 0 30px;
			line-height: 60px;
			font-size: 30px;
			background: none;
			border: none;
			cursor: pointer;
		}

		.burger-icon:hover {
			color: $hover-color;
		}

		.bookmarks-container {
			display: none;
			position: absolute;
			top: 50px;
			right: -20px;
			height: 100vh;
			width: 100vw;
			background-color: $bg-color;
			flex-direction: column;
			justify-content: center;
			line-height: 10vh;
			align-items: center;
			transform: translate(100%);
			transition: transform 1s ease-in;

			a {
				font-size: 2.5rem;
				letter-spacing: 4px;
			}

			.bookmarks {
				position: relative;
				margin: 20px 0 20px 0;
			}

			.bookmarks:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 0%;
				height: 3px;
				background-color: $hover-color;
				border-radius: 5px;
				transition: width 0.3s ease-in-out;
			}

			.bookmarks:nth-of-type(even) {
				&:after {
					// zmienione style dla pseudoelementu ::after dla co drugiego elementu
					left: auto;
					right: 0;
				}
			}

			.bookmarks:hover:after {
				width: 100%;
			}
		}

		.bookmarks-container.active {
			transform: translate(0%);
		}

		.burger-icon.active {
			color: red;
		}

		@media (max-width: 768px) {
			.burger-icon {
				display: block;
				// transition: 3s;
			}

			.nav-icons {
				display: none;
				// a {
				// 	display: none;
				// }
			}

			.nav-links {
				display: none;
			}

			.bookmarks-container {
				display: flex;
			}
		}
	}

	#results-container{
		display: none;
		position: absolute;
		top: 60px;
		right: 0px;
		width: 50vw;
		height: 50vh;
		background-color: $field-bg-color;
		border-top: 1px solid;
		overflow-y: auto;
		#search-results {
			display: flex;
			flex-direction: column;
		  }
		  
		  #search-results div {
			padding: 10px;
			color: black;
			font-size: 18px;
			text-align: center;
			width: 100%;
			height: 40px;
			
		  }
		  
		  #search-results div:hover {
			cursor: pointer;
			background-color: gray;
		  }
	}

	  
}

header {
	.slide-box {
		position: relative;
		width: 100%;
		height: 40vh;
		overflow: hidden;

		.slide {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.slide-one {
			opacity: 1;
		}

		.prev-btn,
		.next-btn {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			font-size: 30px;
			font-weight: bold;
			color: #fff;
			border: none;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}

		.prev-btn {
			left: 20px;
		}

		.next-btn {
			right: 20px;
		}
	}
}

section.newsletter {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-color: #04165e;
	background-repeat: no-repeat;
	background-position: 20% 30%;
	margin: 0;
	padding: 40px 100px 40px 150px;

	.newsletter-text {
		h4 {
			font-size: 22px;
			font-weight: 700;
			color: #fff;
			margin: 5px;
		}

		p {
			font-size: 14px;
			font-weight: 600;
			color: #818ea0;
			margin: 5px;

			span {
				color: #ffbe27;
			}
		}
	}

	.newsletter-form {
		display: flex;
		width: 40%;

		input {
			height: 45px;
			width: 100%;
			font-size: 14px;
			padding: 0 10px;
			border: 1px solid transparent;
			border-radius: 4px 0 0 4px;
			outline: none;
		}

		button {
			height: 45px;
			font-size: 14px;
			font-weight: 600;
			padding: 0 30px;
			background-color: #1bb57fbe;
			color: #fff;
			white-space: nowrap;
			border-radius: 0 4px 4px 0;
			cursor: pointer;
			border: none;
			outline: none;
			transition: 0.2s;
		}

		button:hover {
			padding: 0 35px;
		}
	}
}

section.newproducts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.products {
	margin-top: 20px;
	padding: 10px 20px;
	h2 {
		margin-bottom: 30px;
	}
	.products-container {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		align-items: center;
		grid-gap: 40px;
		.product-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			max-width: 280px;
			padding: 10px 20px;
			margin: 0 auto;

			background-color: $pure-white;
			box-shadow: 1px 1px 5px $box-shadow-color;
			border-radius: 5px;
			transition: transform 0.2s;
			.product-img {
				width: 250px;
				height: 250px;
				img {
					width: 100%;
					height: 100%;
				}
			}

			.product-info {
				position: relative;
				display: flex;
				flex-direction: column;
				margin-top: 15px;
				width: 100%;
				h4.product-name {
					padding: 10px 0;
					font-size: 20px;
				}

				.product-rating {
					font-size: 20px;
				}

				.product-price {
					font-size: 25px;
					padding: 10px 0;
				}

				button.add-product {
					position: absolute;
					right: 10px;
					bottom: 15px;
					width: 50px;
					height: 50px;
					font-size: 20px;
					color: $pure-white;
					border: none;
					border-radius: 50%;
					background-color: $accent-color;
					box-shadow: 1px 1px 5px $box-shadow-color;
					transition: background-color 0.3s, transform 0.2s;
					cursor: pointer;
				}
				button.add-product:hover {
					background-color: #325f85;
					transform: scale(1.05);
				}
			}
		}
		.product-box:hover {
			transform: scale(1.02);
		}
	}
}

@media (min-width: 576px) {
	section.products {
		h2 {
			font-size: 32px;
		}
		.products-container {
			grid-gap: 60px;
			.product-box {
				min-width: 380px;
				max-width: 500px;
				.product-img {
					width: 320px;
					height: 320px;
				}
				.product-info {
					button.add-product {
						width: 65px;
						height: 65px;
					}
				}
			}
		}
	}
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
	section.products {
		.products-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
@media (min-width: 1200px) {
	section.products {
		margin-top: 40px;
		.products-container {
			grid-gap: 60px;
			.product-box {
				min-width: 380px;
				max-width: 500px;
				max-height: 440px;
				.product-img {
					width: 300px;
					height: 300px;
				}
				.product-info {
					button.add-product {
						width: 65px;
						height: 65px;
					}
				}
			}
		}
	}
}

@media (min-width: 1400px) {
	section.products {
		.products-container {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

@media (min-width: 2000px) {
	section.products {
		.products-container {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

section.bag {
	padding-top: 60px;
	.bagbox {
		padding: 30px;
		font-size: 2rem;
		.box {
			width: 100%;
			background-color: $field-bg-color;
			margin-top: 20px;
			padding: 20px;
		}
		.bagbox-order {
			background-color: $field-bg-color;
			.order {
				margin: 20px 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 200px;
				background-color: $pure-white;
				.order-img {
					margin: 15px;
					width: 150px;
					height: 150px;
					border-radius: 8px;
					background-image: url(../img/MQD83.jpg);
					background-size: cover;
					background-position: center;
				}
				.order-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: left;
					margin-right: 5px;
					padding: 20px 20px 20px 0;
					width: 60%;
					height: 200px;
					.order-info-element {
						padding: 10px 0;
					}
					select {
						width: 20%;
					}
				}
			}
		}
		.bagbox-delivery {
			.delivery-date {
				font-size: 1.5rem;
				padding-top: 20px;
			}
		}
		.bagbox-total {
			display: flex;
			flex-direction: column;
			justify-content: center;
			.box-heading {
				text-align: center;
			}
			.total {
				padding: 0 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.total-info {
					height: 100px;
					padding: 5px 0;
					p {
						padding: 3px 0;
					}
					.left {
						text-align: right;
					}
				}
			}
			.pay-btn {
				padding: 10px 20px;
				margin: 10px;
				font-size: 1.5rem;
			}
		}
	}
}

section.account {
	padding-top: 80px;
	max-width: 800px;
	.accountinfo {
		background-color: $field-bg-color;
		.accountinfo-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px 0;
			padding: 30px;
			font-size: 2rem;
			background-color: white;
			h2 {
				padding-bottom: 10px;
			}
			.line {
				margin: 20px 0;
				width: 100%;
				height: 1px;
				background-color: $font-standard;
			}
			.edit-button {
				margin-bottom: 20px;
				padding: 10px 20px;
				width: 90%;
				max-width: 300px;
			}
			.first,
			.second {
				width: 100%;
			}
			.personal-detail {
				margin-bottom: 15px;
				width: 100%;
				max-width: 300px;
				height: 100%;
				padding: 0 10px;

				.personal-detail-name {
					font-weight: 600;
					padding: 8px 0 6px 0;
				}
			}
			.orders {
				width: 100%;
				padding: 0 10px;
				.order {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 10px 0;
					width: 100%;

					.order-heading {
						padding: 10px 0;
					}
					.order-product {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;

						.product-img {
							margin: 15px 15px 15px 0;
							width: 150px;
							height: 150px;
							border-radius: 8px;
							background-image: url(../img/MQD83.jpg);
							background-size: cover;
							background-position: center;
						}
						.product-info {
							padding: 10px 0;
							.product-info-element {
								padding-bottom: 5px;
							}
							.product-info-element2 {
								padding-bottom: 2px;
							}
						}
					}
					.order-totalprice {
						font-weight: 600;
						margin-bottom: 20px;
					}

					.return-button {
						width: 90%;
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	section.newproducts {
		.products-container {
			.product-box {
				flex-basis: calc(50% - 0px);
			}
		}
	}
	section.account {
		.accountinfo {
			.accountinfo-box {
				flex-direction: row;
				flex-wrap: wrap;
				align-items: flex-start;
				.first,
				.second {
					width: 50%;
				}
				.orders {
					.order {
						.order-product {
							justify-content: flex-start;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	section.newproducts {
		.products-container {
			max-width: 1000px;
			.product-box {
				max-width: 300px;
				flex-basis: calc(33.3% - 60px);
			}
		}
	}
	section.bag {
		.bagbox {
			display: flex;
			flex-direction: row;
			.box {
				margin: 10px;
				width: 100%;
			}
			.bagbox-order {
				margin-left: 0;
				width: 50%;
			}
			.media-right {
				width: 50%;
				overflow: hidden;
			}
		}
	}
}

/* ----- LOGIN ------- */

section.login {
	max-height: 100vh;
	overflow: hidden;
	font-size: 1.8vh;

	.form-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;

		h2 {
			margin: 10px 0 10px 0;
			text-decoration: underline;
		}

		.login-form {
			animation: show 0.5s ease-in-out forwards;
		}

		.register-form {
			animation: show 0.5s ease-in-out forwards;
		}

		@keyframes show {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			min-height: 55vh;
			min-width: 40vh;
			padding: 30px;
			background-color: $field-bg-color;
			border-radius: 10px;
			box-shadow: 1px 1px 5px $box-shadow-color;

			.input-area {
				width: 100%;
				max-width: 350px;
				min-height: 270px;
				padding-bottom: 40px;
				.form-box {
					padding: 10px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 20px 0;

					i {
						padding-bottom: 7px;
						padding-right: 10px;
						color: $accent-color;
						font-size: 1.8rem;
					}
					input {
						margin-left: -28px;
						width: 100%;
						height: 25px;
						border: none;
						border-bottom: solid 1px $input-color;
						text-indent: 35px;
						background: none;
						outline: none;
						color: $input-color;
					}

					input::placeholder {
						font-size: 14px;
						padding: 7px 0;
						color: $input-color;
					}
				}

				.text {
					font-size: 12px;
					text-align: right;
					a {
						text-decoration: none;
						color: $accent-color;
					}
				}
			}

			button.send {
				// margin-top: 50px;
				padding: 10px 0;
				height: 40px;
				width: 100px;
				font-size: 12px;
				font-weight: bold;
				background-color: $accent-color;
				color: $font-light;
				border: none;
				border-radius: 40px;
				text-transform: uppercase;
				letter-spacing: 1.8px;
				cursor: pointer;
				transition: background-color 0.3s, transform 0.3s;
				box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
			}

			button.send:hover {
				background-color: $hover-color;
				transform: scale(1.05);
			}

			.form-switch {
				padding: 5px 0;
				margin-top: 20px;
				font-size: 14px;
				.change-form {
					font-weight: bold;
					cursor: pointer;
					text-decoration: none;
					color: $accent-color;
					outline: none;
					border: none;
				}
				.change-form:hover {
					color: $hover-color;
				}
			}
		}

		.hide {
			display: none;
		}
	}
}

@media (min-width: 576px) {
	section.login {
		.form-wrapper {
			form {
				padding: 40px;

				// button.send {
				// 	margin-top: 70px;

				// }
			}
		}
	}
}

@media (min-width: 992px) {
	section.login {
		.form-wrapper {
			form {
				padding: 50px;
				width: 50vh;
				height: 65vh;

				.input-area {
					margin-top: 20px;

					.form-box {
						input {
							margin-left: -30px;
							height: 40px;
							font-size: 20px;
						}
						input::placeholder {
							font-size: 20px;
						}
						i {
							font-size: 22px;
						}
					}

					.text {
						font-size: 16px;
					}
				}

				button {
					width: 120px;
					height: 50px;
				}

				.form-switch {
					font-size: 16px;
				}
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 0;
}

section.product {
	padding-top: 60px;
	.productbox {
		padding: 30px;
		font-size: 2rem;
		.box {
			width: 100%;
			background-color: $field-bg-color;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 20px;
		}
		.productbox-presentation {
			background-color: $field-bg-color;
			min-height: 500px;
			.presentation {
				display: flex;
				height: 460px;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-color: $pure-white;

				.presentation-img {
					width: 300px;
					height: 300px;
					background-image: url(../img/iszmata.webp);
					background-size: cover;
					background-position: center;
				}
			}
		}

		.media-right {
			.productbox-description {
				min-height: 300px;
				.box-heading {
					text-align: center;
				}
				.description-date {
					font-size: 1.5rem;
					padding-top: 20px;
				}
			}
			.productbox-total {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.box-heading {
					text-align: center;
				}
				.total {
					padding: 0 20px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.total-info {
						height: 100px;
						padding: 5px 0;
						p {
							padding: 3px 0;
						}
						select {
							padding: 3px 0;
						}
						.left {
							text-align: right;
						}
					}
					.total-info.left {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
					}
				}
				.add-btn {
					padding: 10px 20px;
					margin: 10px;
					font-size: 1.5rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	section.product {
		.productbox {
			display: flex;
			flex-direction: row;
			.box {
				margin: 10px;
				width: 100%;
			}
			.productbox-presentation {
				margin-left: 0;
				width: 50%;
				.presentation {
					display: flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					height: 100%;
				}
			}
			.media-right {
				width: 50%;
				overflow: hidden;
			}
		}
	}
}
