*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #DFDFDE;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

section h2 {
  margin-top: 10px;
  text-align: center;
  font-size: 2.7rem;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  font-size: 1.8rem;
  background-color: #F7F5F2;
  z-index: 10;
}
.nav a {
  padding: 0 10px;
  color: #222;
  text-decoration: none;
}
.nav a .logo {
  font-family: "Satisfy", cursive;
}
.nav .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav .nav-container .nav-links {
  padding-right: 25px;
}
.nav .nav-container a:hover {
  color: rgb(255, 136, 0);
}
.nav .nav-container .nav-icons i:hover {
  color: rgb(255, 136, 0);
}
.nav .nav-container .nav-icons .magnifier {
  cursor: pointer;
  padding: 0 10px;
}
.nav .nav-container .input-serch {
  display: none;
  width: 200px;
  margin: 0 5px;
  border-radius: 20px;
}

header .slide-box {
  width: 100%;
  height: 100vh;
}
header .slide-box .slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header .slide-box .slide h3 {
  font-size: 3.5rem;
  color: #F7F5F2;
}
header .slide-box .slide p {
  font-size: 2rem;
  color: #F7F5F2;
}
header .slide-box .slide-one {
  background-image: url("https://img-ovh-cloud.zszywka.pl/1/0660/8074-kwiatki.jpg");
}

section.newproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.newproducts .products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.newproducts .products-container .product-box {
  flex-basis: calc(100% - 0px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 300px;
  margin: 20px 10px;
  height: 250px;
  background-color: aquamarine;
}
section.newproducts .products-container .product-box .product-img {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-image: url(../img/iszmata.webp);
}
section.newproducts .products-container .product-box .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8rem;
  text-align: center;
}
section.bag {
  padding-top: 60px;
}
section.bag .bagbox {
  padding: 30px;
  font-size: 2rem;
}
section.bag .bagbox .box {
  width: 100%;
  background-color: #F7F5F2;
  margin-top: 20px;
  padding: 20px;
}
section.bag .bagbox .bagbox-order {
  background-color: #F7F5F2;
}
section.bag .bagbox .bagbox-order .order {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  background-color: white;
}
section.bag .bagbox .bagbox-order .order .order-img {
  margin: 15px;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-image: url(../img/MQD83.jpg);
  background-size: cover;
  background-position: center;
}
section.bag .bagbox .bagbox-order .order .order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 5px;
  padding: 20px 20px 20px 0;
  width: 60%;
  height: 200px;
}
section.bag .bagbox .bagbox-order .order .order-info .order-info-element {
  padding: 10px 0;
}
section.bag .bagbox .bagbox-order .order .order-info select {
  width: 20%;
}
section.bag .bagbox .bagbox-delivery .delivery-date {
  font-size: 1.5rem;
  padding-top: 20px;
}
section.bag .bagbox .bagbox-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.bag .bagbox .bagbox-total .box-heading {
  text-align: center;
}
section.bag .bagbox .bagbox-total .total {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.bag .bagbox .bagbox-total .total .total-info {
  height: 100px;
  padding: 5px 0;
}
section.bag .bagbox .bagbox-total .total .total-info p {
  padding: 3px 0;
}
section.bag .bagbox .bagbox-total .total .total-info .left {
  text-align: right;
}
section.bag .bagbox .bagbox-total .pay-btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  cursor: pointer;
}

@media (min-width: 576px) {
  section.newproducts .products-container {
    background-color: tomato;
  }
  section.newproducts .products-container .product-box {
    flex-basis: calc(50% - 60px);
  }
}
@media (min-width: 992px) {
  section.newproducts .products-container {
    background-color: blue;
    max-width: 1000px;
  }
  section.newproducts .products-container .product-box {
    max-width: 300px;
    flex-basis: calc(33.3% - 60px);
  }
  section.bag .bagbox {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 0px);
  }
  section.bag .bagbox .box {
    width: 50%;
  }
  section.bag .bagbox .bagbox-order .order {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 200px;
    background-color: white;
  }
  section.bag .bagbox .bagbox-order .order .order-img {
    margin: 15px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-image: url(../img/MQD83.jpg);
    background-size: cover;
    background-position: center;
  }
  section.bag .bagbox .bagbox-order .order .order-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 5px;
    padding: 20px 20px 20px 0;
    width: 60%;
    height: 200px;
  }
  section.bag .bagbox .bagbox-order .order .order-info .order-info-element {
    padding: 10px 0;
  }
  section.bag .bagbox .bagbox-order .order .order-info select {
    width: 20%;
  }
  section.bag .bagbox .media-right .bagbox-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  section.bag .bagbox .media-right .bagbox-total .box-heading {
    text-align: center;
  }
  section.bag .bagbox .media-right .bagbox-total .total {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */