<footer>
    <p>
        &copy; 2023 | OnlineStore
        <span class="icon-box">
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
        </span>
    </p>
</footer>