<footer>
    <div class="col">
        <h1 class="logo">OnlineStore</h1>
        <h4>Contact</h4>
        <p><strong>Address:</strong> Nowoursynowska 159/bud. 34, 02-776 Warszawa</p>
        <p><strong>Phone:</strong> 22 593 72 10</p>
        <p><strong>Hours:</strong> 9:00 - 22:00</p>
        <div class="follow">
            <h4>Follow us</h4>
            <span class="icon-box">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </span>
        </div>
    </div>
    
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>My account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track Order</a>
        <a href="#">Help</a>
    </div>

    <div class="copyright">
        <p>&copy; 2023 | OnlineStore</p>
    </div>
    
</footer>