<nav class="nav">
    <a href="/">
        <h1 class="logo">OnlineStore</h1>
    </a>
    <!-- <div class="nav-container nav-burger">
        <button class="burger-icon"><i class="fas fa-bars"></i></button>
    </div> -->
    <div class="nav-container">
        <div class="nav-links">
            <a href="products">All Products</a>
            <a href="contactus">Contact Us</a>
        </div>
        <div class="nav-icons">
            <a href="form"><i class="fa-sharp fa-solid fa-user"></i></a>
            <a href="cart"><i class="fa-solid fa-basket-shopping"></i></a>
            <i class="fa-solid fa-magnifying-glass magnifier" onclick="toggleInput()"></i>
            <!-- <a href="favourite"></a> -->
        </div>
        
        <input type="text" class="input-serch" id="input-serch" onkeyup="search('<%= JSON.stringify(products) %>')" placeholder="Wyszukaj...">

        <button class="burger-icon" id="burger-icon" onclick="burgerMenuShow()"><i class="fas fa-bars"></i></button>
        <div class="bookmarks-container" id="bookmarks-container">
            <a href="products" class="bookmarks">All Products</a>
            <a href="cart" class="bookmarks">cart</a>
            <a href="contactus" class="bookmarks">Contact Us</a>
            <a href="form" class="bookmarks">Sign in</a>
        </div>


    </div>
    <div id="results-container"><div id="search-results"></div></div>
</nav>