<section id="newsletter" class="newsletter" class="wrapper">
    <div class="newsletter-text">
        <h4>Sign up for our newsletter</h4>
        <p>and get a <span>10% discount</span> on your first purchase</p>
    </div>
    <div class="newsletter-form">
        <input type="text" placeholder="Your e-mail address">
        <button>Sign Up</button>
    </div>
</section>