$bg-color: #e9ecef;
$field-bg-color: white;
$shadow-color: rgba(0, 0, 0, 0.274);
$pure-white: white;

$font-standard: #222;
$font-light: #f7f5f2;
// $hover-color: rgb(255, 136, 0);
$hover-color: rgb(0, 110, 255);


$input-color: #222222a6;
$accent-color: rgb(0, 110, 255);
$box-shadow-color: #c0c9d1;

$super-gold: rgb(248, 211, 0)



// $field-bg-color: #f7f5f2;
