@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #e9ecef;
  color: #222;
  font-family: "Montserrat", sans-serif;
}

section h2 {
  text-align: center;
  font-size: 2.7rem;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  padding: 10px 0;
  height: 40px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4682b4;
  color: #f7f5f2;
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

.button:hover {
  background-color: rgb(255, 136, 0);
  transform: scale(1.05);
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  font-size: 1.8rem;
  background-color: #f7f5f2;
  z-index: 10;
  box-shadow: 1px 1px 5px #c0c9d1;
}
.nav a {
  padding: 0 10px;
  color: #222;
  text-decoration: none;
}
.nav a .logo {
  font-family: "Satisfy", cursive;
}
.nav .nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.nav .nav-container .nav-links {
  padding-right: 25px;
}
.nav .nav-container a:hover {
  color: rgb(255, 136, 0);
}
.nav .nav-container .nav-icons i:hover {
  color: rgb(255, 136, 0);
}
.nav .nav-container .nav-icons .magnifier {
  cursor: pointer;
  padding: 0 10px;
}
.nav .nav-container .input-serch {
  display: none;
  width: 75px;
  margin: 0 5px;
  border-radius: 20px;
  margin: 10px;
}
.nav .nav-container .input-serch[type=text] {
  padding: 2px 8px; /* przesuń pole tekstowe w prawo o 20 pikseli */
}
.nav .nav-container .burger-icon {
  display: none;
  padding: 0 30px;
  line-height: 60px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.nav .nav-container .burger-icon:hover {
  color: rgb(255, 136, 0);
}
.nav .nav-container .bookmarks-container {
  display: none;
  position: absolute;
  top: 50px;
  right: -20px;
  height: 100vh;
  width: 100vw;
  background-color: #e9ecef;
  flex-direction: column;
  justify-content: center;
  line-height: 10vh;
  align-items: center;
  transform: translate(100%);
  transition: transform 1s ease-in;
}
.nav .nav-container .bookmarks-container a {
  font-size: 2.5rem;
  letter-spacing: 4px;
}
.nav .nav-container .bookmarks-container .bookmarks {
  position: relative;
  margin: 20px 0 20px 0;
}
.nav .nav-container .bookmarks-container .bookmarks:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 0%;
  height: 3px;
  background-color: rgb(255, 136, 0);
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}
.nav .nav-container .bookmarks-container .bookmarks:nth-of-type(even):after {
  left: auto;
  right: 0;
}
.nav .nav-container .bookmarks-container .bookmarks:hover:after {
  width: 100%;
}
.nav .nav-container .bookmarks-container.active {
  transform: translate(0%);
}
.nav .nav-container .burger-icon.active {
  color: red;
}
@media (max-width: 768px) {
  .nav .nav-container .burger-icon {
    display: block;
  }
  .nav .nav-container .nav-icons {
    display: none;
  }
  .nav .nav-container .nav-links {
    display: none;
  }
  .nav .nav-container .bookmarks-container {
    display: flex;
  }
}
.nav #results-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 50vw;
  height: 50vh;
  background-color: #f7f5f2;
  border-top: 1px solid;
  overflow-y: auto;
}
.nav #results-container #search-results {
  display: flex;
  flex-direction: column;
}
.nav #results-container #search-results div {
  padding: 10px;
  color: black;
  font-size: 18px;
  text-align: center;
  width: 100%;
  height: 40px;
}
.nav #results-container #search-results div:hover {
  cursor: pointer;
  background-color: gray;
}

header .slide-box {
  position: relative;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}
header .slide-box .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
header .slide-box .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .slide-box .slide-one {
  opacity: 1;
}
header .slide-box .prev-btn,
header .slide-box .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
header .slide-box .prev-btn {
  left: 20px;
}
header .slide-box .next-btn {
  right: 20px;
}

section.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #04165e;
  background-repeat: no-repeat;
  background-position: 20% 30%;
  margin: 0;
  padding: 40px 100px 40px 150px;
}
section.newsletter .newsletter-text h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin: 5px;
}
section.newsletter .newsletter-text p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
  margin: 5px;
}
section.newsletter .newsletter-text p span {
  color: #ffbe27;
}
section.newsletter .newsletter-form {
  display: flex;
  width: 40%;
}
section.newsletter .newsletter-form input {
  height: 45px;
  width: 100%;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid transparent;
  border-radius: 4px 0 0 4px;
  outline: none;
}
section.newsletter .newsletter-form button {
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  padding: 0 30px;
  background-color: rgba(27, 181, 127, 0.7450980392);
  color: #fff;
  white-space: nowrap;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
section.newsletter .newsletter-form button:hover {
  padding: 0 35px;
}

section.newproducts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.products {
  margin-top: 20px;
  padding: 10px 20px;
}
section.products h2 {
  margin-bottom: 30px;
}
section.products .products-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 40px;
}
section.products .products-container .product-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  padding: 10px 20px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 1px 1px 5px #c0c9d1;
  border-radius: 5px;
  transition: transform 0.2s;
}
section.products .products-container .product-box .product-img {
  width: 250px;
  height: 250px;
}
section.products .products-container .product-box .product-img img {
  width: 100%;
  height: 100%;
}
section.products .products-container .product-box .product-info {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 100%;
}
section.products .products-container .product-box .product-info h4.product-name {
  padding: 10px 0;
  font-size: 20px;
}
section.products .products-container .product-box .product-info .product-rating {
  font-size: 20px;
}
section.products .products-container .product-box .product-info .product-price {
  font-size: 25px;
  padding: 10px 0;
}
section.products .products-container .product-box .product-info button.add-product {
  position: absolute;
  right: 10px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  background-color: #4682b4;
  box-shadow: 1px 1px 5px #c0c9d1;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
}
section.products .products-container .product-box .product-info button.add-product:hover {
  background-color: #325f85;
  transform: scale(1.05);
}
section.products .products-container .product-box:hover {
  transform: scale(1.02);
}

@media (min-width: 576px) {
  section.products h2 {
    font-size: 32px;
  }
  section.products .products-container {
    grid-gap: 60px;
  }
  section.products .products-container .product-box {
    min-width: 380px;
    max-width: 500px;
  }
  section.products .products-container .product-box .product-img {
    width: 320px;
    height: 320px;
  }
  section.products .products-container .product-box .product-info button.add-product {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 992px) {
  section.products .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  section.products {
    margin-top: 40px;
  }
  section.products .products-container {
    grid-gap: 60px;
  }
  section.products .products-container .product-box {
    min-width: 380px;
    max-width: 500px;
    max-height: 440px;
  }
  section.products .products-container .product-box .product-img {
    width: 300px;
    height: 300px;
  }
  section.products .products-container .product-box .product-info button.add-product {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 1400px) {
  section.products .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 2000px) {
  section.products .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
section.bag {
  padding-top: 60px;
}
section.bag .bagbox {
  padding: 30px;
  font-size: 2rem;
}
section.bag .bagbox .box {
  width: 100%;
  background-color: #f7f5f2;
  margin-top: 20px;
  padding: 20px;
}
section.bag .bagbox .bagbox-order {
  background-color: #f7f5f2;
}
section.bag .bagbox .bagbox-order .order {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
  background-color: white;
}
section.bag .bagbox .bagbox-order .order .order-img {
  margin: 15px;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-image: url(../img/MQD83.jpg);
  background-size: cover;
  background-position: center;
}
section.bag .bagbox .bagbox-order .order .order-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-right: 5px;
  padding: 20px 20px 20px 0;
  width: 60%;
  height: 200px;
}
section.bag .bagbox .bagbox-order .order .order-info .order-info-element {
  padding: 10px 0;
}
section.bag .bagbox .bagbox-order .order .order-info select {
  width: 20%;
}
section.bag .bagbox .bagbox-delivery .delivery-date {
  font-size: 1.5rem;
  padding-top: 20px;
}
section.bag .bagbox .bagbox-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.bag .bagbox .bagbox-total .box-heading {
  text-align: center;
}
section.bag .bagbox .bagbox-total .total {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.bag .bagbox .bagbox-total .total .total-info {
  height: 100px;
  padding: 5px 0;
}
section.bag .bagbox .bagbox-total .total .total-info p {
  padding: 3px 0;
}
section.bag .bagbox .bagbox-total .total .total-info .left {
  text-align: right;
}
section.bag .bagbox .bagbox-total .pay-btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.5rem;
}

.account-edit-background {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.162);
  padding: 40px;
  padding-top: 80px;
  z-index: 10;
}
.account-edit-background .account-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 50px;
  padding-top: 80px;
  max-width: 400px;
  background-color: #f7f5f2;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #c0c9d1;
  animation: show 0.3s ease-in-out forwards;
}
.account-edit-background .account-form .save-button {
  padding: 10px 20px;
  margin-top: 30px;
}
.account-edit-background .account-form .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  border-radius: 50%;
}
.account-edit-background .account-form input {
  margin: 5px;
  width: 100%;
  height: 30px;
  max-width: 300px;
  border: none;
  border-bottom: solid 1px rgba(34, 34, 34, 0.6509803922);
  background: none;
  outline: none;
  color: rgba(34, 34, 34, 0.6509803922);
}
.account-edit-background .account-form input::-moz-placeholder {
  font-size: 14px;
  padding: 7px 0;
  color: rgba(34, 34, 34, 0.6509803922);
}
.account-edit-background .account-form input::placeholder {
  font-size: 14px;
  padding: 7px 0;
  color: rgba(34, 34, 34, 0.6509803922);
}

.display-none {
  display: none;
}

section.account {
  padding-top: 80px;
  max-width: 800px;
}
section.account .accountinfo {
  background-color: #f7f5f2;
  box-shadow: 1px 1px 5px #c0c9d1;
}
section.account .accountinfo .accountinfo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  padding: 30px;
  font-size: 2rem;
  background-color: white;
  box-shadow: 1px 1px 5px #c0c9d1;
}
section.account .accountinfo .accountinfo-box h2 {
  padding-bottom: 10px;
}
section.account .accountinfo .accountinfo-box .line {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #222;
}
section.account .accountinfo .accountinfo-box .edit-button {
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 90%;
  max-width: 300px;
}
section.account .accountinfo .accountinfo-box .edit-button-additional {
  margin-top: 9.5px;
}
section.account .accountinfo .accountinfo-box .first, section.account .accountinfo .accountinfo-box .second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section.account .accountinfo .accountinfo-box .personal-detail {
  margin-bottom: 8px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 0 10px;
}
section.account .accountinfo .accountinfo-box .personal-detail .personal-detail-name {
  font-weight: 600;
  padding: 8px 0 6px 0;
}
section.account .accountinfo .accountinfo-box .orders {
  width: 100%;
  padding: 0 10px;
}
section.account .accountinfo .accountinfo-box .orders .order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  width: 100%;
}
section.account .accountinfo .accountinfo-box .orders .order .order-heading {
  padding: 10px 0;
}
section.account .accountinfo .accountinfo-box .orders .order .order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
section.account .accountinfo .accountinfo-box .orders .order .order-product .product-img {
  margin: 15px 15px 15px 0;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  background-image: url(../img/MQD83.jpg);
  background-size: cover;
  background-position: center;
}
section.account .accountinfo .accountinfo-box .orders .order .order-product .product-info {
  padding: 10px 0;
}
section.account .accountinfo .accountinfo-box .orders .order .order-product .product-info .product-info-element {
  padding-bottom: 5px;
}
section.account .accountinfo .accountinfo-box .orders .order .order-product .product-info .product-info-element2 {
  padding-bottom: 2px;
}
section.account .accountinfo .accountinfo-box .orders .order .order-totalprice {
  font-weight: 600;
  margin-bottom: 20px;
}
section.account .accountinfo .accountinfo-box .orders .order .return-button {
  width: 90%;
}

@media (min-width: 576px) {
  section.newproducts .products-container .product-box {
    flex-basis: calc(50% - 0px);
  }
  section.account .accountinfo .accountinfo-box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  section.account .accountinfo .accountinfo-box .first,
  section.account .accountinfo .accountinfo-box .second {
    width: 50%;
  }
  section.account .accountinfo .accountinfo-box .orders .order .order-product {
    justify-content: flex-start;
  }
}
@media (min-width: 992px) {
  section.newproducts .products-container {
    max-width: 1000px;
  }
  section.newproducts .products-container .product-box {
    max-width: 300px;
    flex-basis: calc(33.3% - 60px);
  }
  section.bag .bagbox {
    display: flex;
    flex-direction: row;
  }
  section.bag .bagbox .box {
    margin: 10px;
    width: 100%;
  }
  section.bag .bagbox .bagbox-order {
    margin-left: 0;
    width: 50%;
  }
  section.bag .bagbox .media-right {
    width: 50%;
    overflow: hidden;
  }
}
/* ----- LOGIN ------- */
section.login {
  max-height: 100vh;
  overflow: hidden;
  font-size: 1.8vh;
}
section.login .form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
section.login .form-wrapper h2 {
  margin: 10px 0 10px 0;
  text-decoration: underline;
}
section.login .form-wrapper .login-form {
  animation: show 0.5s ease-in-out forwards;
}
section.login .form-wrapper .register-form {
  animation: show 0.5s ease-in-out forwards;
}
@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section.login .form-wrapper form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 55vh;
  min-width: 40vh;
  padding: 30px;
  background-color: #f7f5f2;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #c0c9d1;
}
section.login .form-wrapper form .input-area {
  width: 100%;
  max-width: 350px;
  min-height: 270px;
  padding-bottom: 40px;
}
section.login .form-wrapper form .input-area .form-box {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
section.login .form-wrapper form .input-area .form-box i {
  padding-bottom: 7px;
  padding-right: 10px;
  color: #4682b4;
  font-size: 1.8rem;
}
section.login .form-wrapper form .input-area .form-box input {
  margin-left: -28px;
  width: 100%;
  height: 25px;
  border: none;
  border-bottom: solid 1px rgba(34, 34, 34, 0.6509803922);
  text-indent: 35px;
  background: none;
  outline: none;
  color: rgba(34, 34, 34, 0.6509803922);
}
section.login .form-wrapper form .input-area .form-box input::-moz-placeholder {
  font-size: 14px;
  padding: 7px 0;
  color: rgba(34, 34, 34, 0.6509803922);
}
section.login .form-wrapper form .input-area .form-box input::placeholder {
  font-size: 14px;
  padding: 7px 0;
  color: rgba(34, 34, 34, 0.6509803922);
}
section.login .form-wrapper form .input-area .text {
  font-size: 12px;
  text-align: right;
}
section.login .form-wrapper form .input-area .text a {
  text-decoration: none;
  color: #4682b4;
}
section.login .form-wrapper form button.send {
  padding: 10px 0;
  height: 40px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  background-color: #4682b4;
  color: #f7f5f2;
  border: none;
  border-radius: 40px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}
section.login .form-wrapper form button.send:hover {
  background-color: rgb(255, 136, 0);
  transform: scale(1.05);
}
section.login .form-wrapper form .form-switch {
  padding: 5px 0;
  margin-top: 20px;
  font-size: 14px;
}
section.login .form-wrapper form .form-switch .change-form {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: #4682b4;
  outline: none;
  border: none;
}
section.login .form-wrapper form .form-switch .change-form:hover {
  color: rgb(255, 136, 0);
}
section.login .form-wrapper .hide {
  display: none;
}

@media (min-width: 576px) {
  section.login .form-wrapper form {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  section.login .form-wrapper form {
    padding: 50px;
    width: 50vh;
    height: 65vh;
  }
  section.login .form-wrapper form .input-area {
    margin-top: 20px;
  }
  section.login .form-wrapper form .input-area .form-box input {
    margin-left: -30px;
    height: 40px;
    font-size: 20px;
  }
  section.login .form-wrapper form .input-area .form-box input::-moz-placeholder {
    font-size: 20px;
  }
  section.login .form-wrapper form .input-area .form-box input::placeholder {
    font-size: 20px;
  }
  section.login .form-wrapper form .input-area .form-box i {
    font-size: 22px;
  }
  section.login .form-wrapper form .input-area .text {
    font-size: 16px;
  }
  section.login .form-wrapper form button {
    width: 120px;
    height: 50px;
  }
  section.login .form-wrapper form .form-switch {
    font-size: 16px;
  }
}
footer {
  position: absolute;
  bottom: 0;
}

section.product {
  padding-top: 60px;
}
section.product .productbox {
  padding: 30px;
  font-size: 2rem;
}
section.product .productbox .box {
  width: 100%;
  background-color: #f7f5f2;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
section.product .productbox .productbox-presentation {
  background-color: #f7f5f2;
  min-height: 500px;
}
section.product .productbox .productbox-presentation .presentation {
  display: flex;
  height: 460px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
}
section.product .productbox .productbox-presentation .presentation .presentation-img {
  width: 300px;
  height: 300px;
  background-image: url(../img/iszmata.webp);
  background-size: cover;
  background-position: center;
}
section.product .productbox .media-right .productbox-description {
  min-height: 300px;
}
section.product .productbox .media-right .productbox-description .box-heading {
  text-align: center;
}
section.product .productbox .media-right .productbox-description .description-date {
  font-size: 1.5rem;
  padding-top: 20px;
}
section.product .productbox .media-right .productbox-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.product .productbox .media-right .productbox-total .box-heading {
  text-align: center;
}
section.product .productbox .media-right .productbox-total .total {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section.product .productbox .media-right .productbox-total .total .total-info {
  height: 100px;
  padding: 5px 0;
}
section.product .productbox .media-right .productbox-total .total .total-info p {
  padding: 3px 0;
}
section.product .productbox .media-right .productbox-total .total .total-info select {
  padding: 3px 0;
}
section.product .productbox .media-right .productbox-total .total .total-info .left {
  text-align: right;
}
section.product .productbox .media-right .productbox-total .total .total-info.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
section.product .productbox .media-right .productbox-total .add-btn {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  section.product .productbox {
    display: flex;
    flex-direction: row;
  }
  section.product .productbox .box {
    margin: 10px;
    width: 100%;
  }
  section.product .productbox .productbox-presentation {
    margin-left: 0;
    width: 50%;
  }
  section.product .productbox .productbox-presentation .presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  section.product .productbox .media-right {
    width: 50%;
    overflow: hidden;
  }
}/*# sourceMappingURL=main.css.map */