@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	background-color: $bg-color;
	color: $font-standard;
	font-family: 'Montserrat', sans-serif;
}

section {
	h2 {
		// margin-top: 10px;
		text-align: center;
		font-size: 2.7rem;
	}
}
.wrapper {
	max-width: 1400px;
	margin: 0 auto;
	padding: 20px;
}
.button {
	padding: 10px 0;
	height: 40px;
	font-size: 12px;
	font-weight: bold;
	background-color: $accent-color;
	color: $font-light;
	border: none;
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 1.8px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.3s;
	box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 1px;
}
.button:hover {
	background-color: $super-gold;
	color: black;
	text-shadow: 0 0 1px black;
	transform: scale(1.05);
}

@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	// justify-content: center;
	width: 100%;
	height: 60px;
	padding: 10px 20px;
	font-size: 1.8rem;
	background-color: $field-bg-color;
	z-index: 10;
	box-shadow: 1px 1px 5px $box-shadow-color;

	a {
		padding: 0 10px;
		color: $font-standard;
		text-decoration: none;
		.logo {
			font-family: 'Satisfy', cursive;
		}
	}

	.nav-container {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 100%;
		position: relative;

		.nav-links {
			padding-right: 25px;
		}

		a:hover {
			color: $hover-color;
		}

		.nav-icons {
			i:hover {
				color: $hover-color;
			}

			.magnifier {
				cursor: pointer;
				padding: 0 10px;
			}
		}
		.input-serch {
			display: none;
			width: 75px;
			margin: 0 5px;
			border-radius: 20px;
			margin: 10px;
		}

		.input-serch[type='text'] {
			padding: 2px 8px; /* przesuń pole tekstowe w prawo o 20 pikseli */
		}

		.burger-icon {
			display: none;
			padding: 0 10px;
			line-height: 60px;
			font-size: 30px;
			background: none;
			border: none;
			cursor: pointer;
		}

		.burger-icon:hover {
			color: $hover-color;
		}

		.bookmarks-container {
			display: none;
			position: absolute;
			top: 50px;
			right: -20px;
			height: 100vh;
			width: 100vw;
			background-color: $bg-color;
			flex-direction: column;
			justify-content: center;
			line-height: 10vh;
			align-items: center;
			transform: translate(100%);
			transition: transform 0.4s ease-in;

			a {
				font-size: 2.5rem;
				letter-spacing: 4px;
			}

			.bookmarks {
				position: relative;
				margin: 20px 0 20px 0;
			}

			.bookmarks:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0px;
				width: 0%;
				height: 3px;
				background-color: $hover-color;
				border-radius: 5px;
				transition: width 0.3s ease-in-out;
			}

			.bookmarks:nth-of-type(even) {
				&:after {
					// zmienione style dla pseudoelementu ::after dla co drugiego elementu
					left: auto;
					right: 0;
				}
			}

			.bookmarks:hover:after {
				width: 100%;
			}
		}

		.bookmarks-container.active {
			transform: translate(0%);
		}

		.burger-icon.active {
			color: red;
		}

		@media (min-width: 576px) {
			.burger-icon {
				padding: 0 20px;
			}
		}

		@media (max-width: 768px) {
			.burger-icon {
				display: block;
				transition: 0.4s;
			}

			.nav-icons {
				display: none;
				// a {
				// 	display: none;
				// }
			}

			.nav-links {
				display: none;
			}

			.bookmarks-container {
				display: flex;
			}
		}
	}

	#results-container {
		display: none;
		position: absolute;
		top: 60px;
		right: 0px;
		width: 50vw;
		height: 50vh;
		background-color: $field-bg-color;
		overflow-y: auto;
		border: 1px solid;
		border-top: hidden;
		border-right: hidden;
		box-shadow: -1px 1px 1px ;
		#search-results {
			display: flex;
			flex-direction: column;
		}

		#search-results div {
			padding: 10px;
			color: black;
			font-size: 18px;
			text-align: center;
			width: 100%;
			height: 40px;
		}

		#search-results div:hover {
			cursor: pointer;
			background-color: gray;
		}
	}
}

header {
	// margin-top: 60px;
	.slide-show {
		position: relative;
		width: 100%;
		height: 100vh;
		.slideshow-container {
			width: 100%;
			height: 100%;
			position: relative;
			margin: auto;

				.slide {
					position: absolute;
					width: 100%;
					height: 100%;
					position: relative;
					.slide-frame {
						width: 100%;
						height: 100%;
						object-fit: cover;
						vertical-align: middle;
						overflow: hidden;
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center;
						position: relative;
						.slide-text1 {
							width: 500px;
							position: absolute;
							top: 25%;
							left: 50%;
							color: rgb(0, 0, 0);
							font-size: 20px;
							transform: translate(-50%, -50%);
							text-align: center;
						}
						.slide-text2 {
							width: 500px;
							position: absolute;
							color: rgb(0, 0, 0);
							top: 25%;
							left: 50%;
							font-size: 18px;
							text-align: center;
							transform: translate(-50%, -50%);
						}
						.slide-text3 {
							width: 500px;
							position: absolute;
							color: rgb(0, 0, 0);
							top: 33%;
							left: 50%;
							font-size: 18px;
							transform: translate(-50%, -50%);
							text-align: center;
						}
					}
					.slide1 {
						background-image: url("../img/slideshow/img1-phone.jpg");
					}
					.slide2 {
						background-image: url("../img/slideshow/img2-phone.jpg");
					}
					.slide3 {
						background-image: url("../img/slideshow/img3-phone.jpg");
					}
				}
				.fade {
					animation-name: fade;
					animation-duration: 1s;
				}

			.prev,
			.next {
				cursor: pointer;
				position: absolute;
				top: 50%;
				width: auto;
				margin-top: -22px;
				padding: 16px;
				color: white;
				font-weight: bold;
				font-size: 18px;
				transition: 5s ease;
				border-radius: 0 3px 3px 0;
				user-select: none;
			}
			.next {
				right: 0;
				border-radius: 3px 0 0 3px;
			}
			.prev:hover,
			.next:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}
		}
		.dots-container {
			text-align: center;
			.dot {
				cursor: pointer;
				height: 15px;
				width: 15px;
				margin: 0 2px;
				background-color: red;
				border-radius: 50%;
				display: inline-block;
				transition: background-color 0.6s ease;
			}
			.active,
			.dot:hover {
				background-color: pink;
			}
		}
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

section.benefits {
	padding-top: 40px;
    .benefits-box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 0 50px;

        .benefit {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 15px 3px;
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                background-color: $pure-white;
                border-radius: 50%;
                i {
                    text-align: center;
                    font-size: 30px;
                    color: $font-standard;
                }
            }

            .benefit-text {
				padding-top: 6px;
                h3 {
					font-size: 15px;
                    padding: 6px 0;
                    color: $font-standard;
                }
                p {
					font-size: 13px;
                    color: $font-standard;
                }
            }
        }
    }
}

section.newsletter {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 40px;
	background-color: #04165e;
	background-repeat: no-repeat;
	background-position: 20% 30%;
	padding: 40px 100px 40px 150px;

	.newsletter-text {
		h4 {
			font-size: 22px;
			font-weight: 700;
			color: #fff;
			margin: 5px;
		}

		p {
			font-size: 14px;
			font-weight: 600;
			color: #818ea0;
			margin: 5px;

			span {
				color: #ffbe27;
			}
		}
	}

	.newsletter-form {
		display: flex;
		width: 40%;

		input {
			height: 45px;
			width: 100%;
			font-size: 14px;
			padding: 0 10px;
			border: 1px solid transparent;
			border-radius: 4px 0 0 4px;
			outline: none;
		}

		button {
			height: 45px;
			font-size: 12px;
			font-weight: 600;
			padding: 0 30px;
			background-color: #1bb57fbe;
			color: #fff;
			white-space: nowrap;
			border-radius: 0 4px 4px 0;
			cursor: pointer;
			border: none;
			outline: none;
			transition: 0.2s;
		}

		button:hover {
			padding: 0 35px;
		}
	}

	@media screen and (max-width: 992px) {
		display: flexbox;;
		justify-content: center;
		padding: 40px 0;
		.newsletter-text{
			width: 65%;
			text-align: center;
		}


		.newsletter-form{
			width: 60%;
			margin-top: 20px;
		}
		
	}
}

footer {
	
	display: flex;
	flex-wrap: wrap;
	justify-content:space-evenly;

	.col{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin: 50px 0;
	}

	.logo {
		font-family: 'Satisfy', cursive;
		font-size: 5rem;
	}

	h4{
		font-size: 20px;
		font-weight: 900;
		padding: 32px 0 20px 0;
	}

	p{
		font-size: 17px;
		color: #3e4043;
		margin: 0 0 8px 0;
		strong{
			font-weight: 600;
		}
	}

	a{
		font-size: 16px;
		text-decoration: none;
		color: #3e4043;
		margin-bottom: 10px;

		&:hover{
			text-decoration: underline black;
		}
	}

	.copyright{
		width: 100%;
		text-align: center;
	}

	.follow{
		h4{
			padding-bottom: 10px;
		}

		.icon-box{
			a{
				margin-right: 2px;
			}
		}
	}
	
	@media screen and (max-width: 992px) {
		flex-direction: row;

		.col{
			margin: 30px 0;
			.logo{
				align-self: center;
			}
		}

		.follow{
			align-self: center;
		}
	}
}

section.newproducts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.products {
	margin-top: 60px;
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	.categories-container {
		margin-top: 40px;
		padding: 10px 15px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 20px;
		p {
			padding: 10px 15px;
		}
		.categoryAll{
			background-color: gray;
		}
		.category {
			cursor: pointer;
			padding: 10px 15px;
			margin-left: 30px;
			font-weight: bold;
			border: 1px solid transparent;
			border-radius: 25px;
		}
		.category:hover {
			border: 1px solid black;
			border-radius: 25px;
		}
	}
	.products-container {
		margin-top: 70px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
		align-items: center;
		grid-gap: 40px;
		.product-box {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			min-width: 300px;
			padding: 10px 20px;
			margin: 0 auto;

			background-color: $pure-white;
			box-shadow: 1px 1px 5px $box-shadow-color;
			border-radius: 5px;
			transition: transform 0.2s;
			cursor: pointer;
			.product-img {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 250px;
				height: 250px;
				img {
					width: 100%;
					height: auto;
				}
			}

			.product-info {
				position: relative;
				display: flex;
				flex-direction: column;
				margin-top: 15px;
				width: 100%;
				h4.product-name {
					padding: 10px 0;
					font-size: 20px;
				}

				.product-rating {
					font-size: 20px;
				}

				.product-price {
					font-size: 25px;
					padding: 10px 0;
				}

				button.add-product {
					position: absolute;
					width: 62px;
					height: 62px;
					right: 10px;
					bottom: 10px;
					font-size: 20px;
					color: $pure-white;
					border: none;
					border-radius: 50%;
					background-color: $accent-color;
					box-shadow: 1px 1px 5px $box-shadow-color;
					transition: background-color 0.3s, transform 0.2s;
					cursor: pointer;
				}
				button.add-product:hover {
					//background-color: #325f85;
					background-color: $super-gold;
					transform: scale(1.05);
				}
			}
		}
		.product-box:hover {
			transform: scale(1.02);
		}
	}
}


section.bag {
	padding-top: 60px;
	.bagbox {
		padding: 30px;
		font-size: 2rem;
		.box {
			width: 100%;
			background-color: $field-bg-color;
			margin-top: 20px;
			padding: 20px;
		}
		.bagbox-order {
			background-color: $field-bg-color;
			.order {
				margin: 20px 0;
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 200px;
				background-color: $pure-white;
				//box-shadow: 0px 0px 3px;
				.order-img {
					margin: 15px;
					width: 150px;
					height: 150px;
					border-radius: 8px;
					background-image: url(../img/MQD83.jpg);
					background-size: cover;
					background-position: center;
				}
				.order-info {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: left;
					margin-right: 5px;
					padding: 20px 20px 20px 0;
					width: 60%;
					height: 200px;
					.order-info-element {
						padding: 10px 0;
					}
					select {
						width: 20%;
					}
					select:hover{
					cursor: pointer;
					}
				}
				.delete-product-btn {
					width: 30px;
					height: 30px;
					font-size: 2rem;
					border: hidden;
					background-color: $pure-white;
					color: red;
					text-shadow: 0px 0px 1px black;
					transition: 0.2s;
				}
				.delete-product-btn:hover{
					transition: 0.2s;
					transform: scale(1.3);
					cursor: pointer;
				}
			}
		}
		.bagbox-delivery {
			.delivery-date {
				font-size: 1.5rem;
				padding-top: 20px;
			}
		}
		.bagbox-total {
			display: flex;
			flex-direction: column;
			.box-heading {
				text-align: center;
			}

			.total {
				padding: 0 20px;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				.total-info {
					flex-grow: 1;
					padding: 5px 0;
					p {
						padding: 3px 0;
					}
					.left {
						text-align: right;
					}
					.total-price{
					text-shadow: 0px 0px 4px $super-gold;
					}
					.empty-paragraph{
						border-bottom: 2px solid ;
					}
				}
			}
			.pay-btn-container{
				display: flex;
				justify-content: center;
				.pay-btn {
					padding: 10px 20px;
					margin: 10px;
					font-size: 1.5rem;
					width: 90%;
	
				}
			}
			

		}
	}
}
.account-edit-background {
	display: flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.162);
	padding: 40px;
	padding-top: 80px;
	z-index: 10;
	.account-form {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		padding: 50px;
		padding-top: 80px;
		max-width: 400px;
		background-color: $field-bg-color;
		border-radius: 10px;
		box-shadow: 1px 1px 5px $box-shadow-color;
		animation: show 0.3s ease-in-out forwards;
		.save-button {
			padding: 10px 20px;
			margin-top: 30px;
		}
		.close-button {
			position: absolute;
			top: 20px;
			right: 20px;
			padding: 10px 15px;
			border-radius: 50%;
		}
		input {
			margin: 5px;
			width: 100%;
			height: 30px;
			max-width: 300px;
			border: none;
			border-bottom: solid 1px $input-color;
			background: none;
			outline: none;
			color: $input-color;
		}
		input::placeholder {
			font-size: 14px;
			padding: 7px 0;
			color: $input-color;
		}
	}
}
.display-none {
	display: none;
}
section.account {
	padding-top: 80px;
	max-width: 800px;
	.accountinfo {
		background-color: $field-bg-color;
		box-shadow: 1px 1px 5px $box-shadow-color;
		.accountinfo-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 20px 0;
			padding: 30px;
			font-size: 2rem;
			background-color: white;
			box-shadow: 1px 1px 5px $box-shadow-color;
			h2 {
				padding-bottom: 10px;
				// text-decoration: underline;
			}
			.line {
				margin: 20px 0;
				width: 100%;
				height: 1px;
				background-color: $font-standard;
			}
			.edit-button {
				margin-bottom: 20px;
				padding: 10px 20px;
				width: 90%;
				max-width: 300px;
			}
			.edit-button-additional {
				margin-top: 9.5px;
			}
			.first,
			.second {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;
			}
			.personal-detail {
				margin-bottom: 8px;
				width: 100%;
				max-width: 300px;
				height: 100%;
				padding: 0 10px;

				.personal-detail-name {
					font-weight: 600;
					padding: 8px 0 6px 0;
				}
			}
			.orders {
				width: 100%;
				padding: 0 10px;
				.order {
					display: flex;
					flex-direction: column;
					align-items: center;
					margin: 10px 0;
					width: 100%;

					.order-heading {
						padding: 10px 0;
					}
					.order-product {
						display: flex;
						align-items: center;
						justify-content: space-between;
						width: 100%;

						.product-img {
							margin: 15px 15px 15px 0;
							width: 150px;
							height: 150px;
							border-radius: 8px;
							background-image: url(../img/MQD83.jpg);
							background-size: cover;
							background-position: center;
						}
						.product-info {
							padding: 10px 0;
							.product-info-element {
								padding-bottom: 5px;
							}
							.product-info-element2 {
								padding-bottom: 2px;
							}
						}
					}
					.order-totalprice {
						font-weight: 600;
						margin-bottom: 20px;
					}
					.return-button {
						width: 90%;
					}
				}
			}
		}
	}
}


/* ----- LOGIN ------- */

section.login {
	max-height: 100vh;
	overflow: hidden;
	font-size: 1.8vh;

	.form-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;

		h2 {
			margin: 10px 0 10px 0;
			text-decoration: underline;
		}

		.login-form {
			animation: show 0.5s ease-in-out forwards;
		}

		.register-form {
			animation: show 0.5s ease-in-out forwards;
		}

		@keyframes show {
			0% {
				opacity: 0;
			}
			100% {
				opacity: 1;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			min-height: 55vh;
			min-width: 40vh;
			padding: 30px;
			background-color: $field-bg-color;
			border-radius: 10px;
			box-shadow: 1px 1px 5px $box-shadow-color;

			.input-area {
				width: 100%;
				max-width: 350px;
				min-height: 270px;
				padding-bottom: 40px;
				.form-box {
					padding: 10px;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 20px 0;

					i {
						padding-bottom: 7px;
						padding-right: 10px;
						color: $accent-color;
						font-size: 1.8rem;
					}
					input {
						margin-left: -28px;
						width: 100%;
						height: 25px;
						border: none;
						border-bottom: solid 1px $input-color;
						text-indent: 35px;
						background: none;
						outline: none;
						color: $input-color;
					}

					input::placeholder {
						font-size: 14px;
						padding: 7px 0;
						color: $input-color;
					}
				}

				.text {
					font-size: 12px;
					text-align: right;
					a {
						text-decoration: none;
						color: $accent-color;
					}
				}
			}

			button.send {
				// margin-top: 50px;
				padding: 10px 0;
				height: 40px;
				width: 100px;
				font-size: 12px;
				font-weight: bold;
				background-color: $accent-color;
				color: $font-light;
				border: none;
				border-radius: 40px;
				text-transform: uppercase;
				letter-spacing: 1.8px;
				cursor: pointer;
				transition: background-color 0.3s, transform 0.3s;
				box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
			}

			button.send:hover {
				background-color: $hover-color;
				transform: scale(1.05);
			}

			.form-switch {
				padding: 5px 0;
				margin-top: 20px;
				font-size: 14px;
				.change-form {
					font-weight: bold;
					cursor: pointer;
					text-decoration: none;
					color: $accent-color;
					outline: none;
					border: none;
				}
				.change-form:hover {
					color: $hover-color;
				}
			}
		}

		.hide {
			display: none;
		}
	}
}


section.product {
	padding-top: 60px;
	.productbox {
		padding: 30px;
		font-size: 2rem;
		.box {
			width: 100%;
			background-color: $field-bg-color;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 20px;
		}
		.productbox-presentation {
			background-color: $field-bg-color;
			min-height: 500px;
			.presentation {
				display: flex;
				height: 460px;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-color: $pure-white;

				.presentation-img {
					width: 300px;
					height: 300px;
					background-size: cover;
					background-position: center;
				}
			}
		}

		.media-right {
			.productbox-description {
				min-height: 300px;
				.box-heading {
					text-align: center;
				}
				.description-date {
					font-size: 1.5rem;
					padding-top: 20px;
				}
			}
			.productbox-total {
				display: flex;
				flex-direction: column;
				justify-content: center;
				.box-heading {
					text-align: center;
				}
				.total {
					padding: 0 20px;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					.total-info {
						display: flex;
						height: 100px;
						padding: 5px 0;
						align-items: center;
						p {
							padding: 3px 0;
						}
						select {
							padding: 3px 0;
						}
						.left {
							text-align: right;
						}
					}
					.total-info.left {
						display: flex;
						flex-direction: column;
						justify-content: space-evenly;
					}
				}
				form{
					display: flex;
					justify-content: center;
					.add-btn {
						margin: 10px;
						font-size: 1.5rem;
						width: 90%;
					}
				}
				
			}
		}
	}
}

section.contactus {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 100px;
		form {
			.form-group{
				padding: 10px;
				display: flex;
				flex-direction: column;
				label {
					font-size: 20px;
					padding-bottom: 10px;
				}
				input,
				textarea {
				width: 60vw;
				padding: 10px;
				font-size: 16px;
				border-radius: 5px;
				border: 1px solid #ccc;
				resize: none;
				overflow: auto;
				max-width: 800px;
				}
				textarea {
					height: 250px;
				}
			}
		}
	}
}

@import 'media';
