<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Online Store</title>
		<link rel="stylesheet" href="sass/main.css" />
		<script
			src="https://kit.fontawesome.com/56b56de47f.js"
			crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Satisfy&display=swap"
			rel="stylesheet" />
	</head>

	<body>
		<section class="login" id="login">
			<div class="form-wrapper">
				<form class="login-form" action="/checkYourLoginDetails" method="post">
					<h2>Log in</h2>
					<div class="input-area">
						<div class="form-box">
							<i class="fa-solid fa-envelope"></i>
							<input
								type="email"
								id="email"
                                name="email"
								placeholder="Enter your e-mail"
								required />
						</div>
						<div class="form-box">
							<i class="fa-solid fa-lock"></i>
							<input
								type="password"
								id="password"
                                name="password"
								placeholder="Enter your password"
								required />
						</div>
						<div class="text"><a href="#">Forgot password?</a></div>
					</div>
					<button class="send">Log in</button>

					<p class="form-switch">
						Don't have an account?
						<a href="#" class="change-form signup-switch">Sign up!</a>
					</p>
					<% if (typeof alertLoginMessage !== 'undefined') { %>
						<% if (typeof positiveRegistration !== 'undefined') { %>
							<p class="alert-Login-Message" style="color: green;">
							  <%= alertLoginMessage %>
							</p>
							<p class="alert-Login-Message" style="color: green;">
								<%= alertLoginMessage2 %>
							  </p>
						<% } else { %>
							<p class="alert-Login-Message" style="color: red">
							<%= alertLoginMessage %>
							</p>
						<% } %>
					<% } %>
				</form>

				<form class="register-form hide" action="/addUserFromRegistration" method="post">
					<h2>Register</h2>
					<div class="input-area">
						<div class="form-box">
							<i class="fa-solid fa-envelope"></i>
							<input
								type="email"
								id="email"
                                name="email"
								placeholder="Enter your e-mail"
								required />
						</div>
						<div class="form-box">
							<i class="fa-solid fa-lock"></i>
							<input
								type="password"
								id="password1" 
                                name="password1"
								placeholder="Enter your password"
								required /> 
						</div>
						<div class="form-box">
							<i class="fa-solid fa-lock"></i>
							<input
								type="password"
								id="password2"
                                name="password2"
								placeholder="Repeat your password"
								required />
						</div>
						<div class="text"><a href="#">Forgot password?</a></div>
					</div>
					<button class="send">Register</button> 
                    <!-- input -->

					<p class="form-switch">
						Don't have an account?
						<a href="#" class="change-form login-switch">Log in!</a>
					</p>
				</form>
			</div>
		</section>

		<%- include("partials/newsletter") %>

		<script src="scripts/spript2.js"></script>
	</body>
</html>
