#search-results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #search-results div {
    padding: 10px;
    border: 2px solid;
    color: black;
    font-size: 18px;
    text-align: center;
    width: 100px;
    height: 40px;
    transition: all 0.2s ease-in-out;
  }
  
  #search-results div:hover {
    cursor: pointer;
    background-color: gray;
  }